* {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(76, 190, 254);
  height: 8vh;
}

main {
  background: url("") no-repeat center center;
  background-size: cover;
  height: 150vh;
  width: 100vh;
}

img {
  background-image: url("davi.JPG");
  object-fit: cover;
  height: 400px;
  margin: 40px 0 0 80px;
  position: relative;
  border: 5px solid;
  border-color: #b5b5cf;
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.container {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

section.module.content {
  color: white;
  padding: 40px 0;
  background: rgb(37, 47, 97);
}

section.module.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*efeitoParallax*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*section.module.parallax::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}*/

section.module.image1 {
  background-image: url("https://plus.unsplash.com/premium_photo-1675610853926-6d69a0a99ea7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1032&q=80");
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(76, 190, 254), rgb(37, 47, 97));
  }
}

.nav-list {
  position: absolute;
  top: 8vh;
  right: 0;
  width: 50vw;
  height: 92vh;
  background: rgb(76, 190, 254);
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.nav-list li {
  margin-left: 0;
  opacity: 0;
}

.mobile-menu {
  display: block;
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

header.fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}